<!-- Social Media: handles (Facebook, Twitter, Instagram, Youtube, Twitch, Snapchat)-->
<div class="form-step container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">

      <h3 class="text-center">Social Media Handles</h3>
      <label for="">Facebook:
      </label>
        <input type="text" name="" class="form-control" placeholder="Enter Facebook name" ng-model="newProfile.social_media_handles.facebook">
      <br><br>
      <label for="">Twitter:
      </label>
        <input type="text" name="" class="form-control" placeholder="Enter Twitter handle" ng-model="newProfile.social_media_handles.twitter">
      <br><br>
      <label for="">Instagram:
      </label>
        <input type="text" name="" class="form-control" placeholder="Enter Instagram handle" ng-model="newProfile.social_media_handles.instagram">
      <br><br>
      <label for="">Youtube:
      </label>
        <input type="text" name="" class="form-control" placeholder="Enter Youtube handle" ng-model="newProfile.social_media_handles.youtube">
      <br><br>
      <label for="">Twitch:
      </label>
        <input type="text" name="" class="form-control" placeholder="Enter Twitch handle" ng-model="newProfile.social_media_handles.twitch">
      <br><br>
      <label for="">Snapchat:
      </label>
        <input type="text" name="" class="form-control" placeholder="Enter Snapchat handle" ng-model="newProfile.social_media_handles.snapchat">
      <br><br>


      <a href="#/profiles" role="button" class="btn btn-primary btn-sm">Back to profiles</a>
      <button type="button" name="button" class="btn btn-primary btn-sm" ng-click="back(newProfile)">Back</button>
      <button type="button" name="button" class="btn btn-primary btn-sm" ng-click="next(newProfile)">Next</button>

    </div>
  </div>

</div>
