<!-- Social Media: handles (Facebook, Twitter, Instagram, Youtube, Twitch, Snapchat)-->
<div class="form-step container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">

      <h3 class="text-center">Social Media Handles</h3>
      <label for="">Facebook:
        <input type="text" name="" value="" placeholder="Enter Facebook name" ng-model="newProfile.social_media_handles.facebook">
      </label><br><br>
      <label for="">Twitter:
        <input type="text" name="" value="" placeholder="Enter Twitter handle" ng-model="newProfile.social_media_handles.twitter">
      </label><br><br>
      <label for="">Instagram:
        <input type="text" name="" value="" placeholder="Enter Instagram handle" ng-model="newProfile.social_media_handles.instagram">
      </label><br><br>
      <label for="">Youtube:
        <input type="text" name="" value="" placeholder="Enter Youtube handle" ng-model="newProfile.social_media_handles.youtube">
      </label><br><br>
      <label for="">Twitch:
        <input type="text" name="" value="" placeholder="Enter Twitch handle" ng-model="newProfile.social_media_handles.twitch">
      </label><br><br>
      <label for="">Snapchat:
        <input type="text" name="" value="" placeholder="Enter Snapchat handle" ng-model="newProfile.social_media_handles.snapchat">
      </label><br><br>


      <a href="#/profiles" role="button" class="btn btn-primary btn-sm">Back to profiles</a>
      <button type="button" name="button" class="btn btn-primary btn-sm" ng-click="back(newProfile)">Back</button>
      <button type="button" name="button" class="btn btn-primary btn-sm" ng-click="next(newProfile)">Next</button>

    </div>
  </div>

</div>
